In [17]:
import numpy as np
import pandas as pd

ftd = pd.read_excel('Atlanta_flights_test_size.xlsx')
#fill null
ftd = ftd.fillna(0)

'''get rid of repeat data
function works with parameters dataframe (what you want to delete from)
and column_name (what column you want to check for duplicates)
'''

def deleteRepeats(dataframe, column_name):
    dataframe.drop_duplicates(column_name, 'last',inplace=True)
    return dataframe
deleteRepeats(ftd, 'FLIGHT_NUMBER')

,Unnamed: 0,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,2015,1,1,4,EV,3268,N14998,ATL,IAD,...,739.0,14.0,0,0,0,0.0,0.0,0.0,0.0,0.0
1,1,2015,1,1,4,F9,902,N949FR,ATL,TTN,...,814.0,24.0,0,0,0,5.0,0.0,19.0,0.0,0.0
2,2,2015,1,1,4,AA,1635,N025AA,ATL,DFW,...,0.0,0.0,0,1,B,0.0,0.0,0.0,0.0,0.0
3,3,2015,1,1,4,DL,886,N918DL,ATL,LGA,...,901.0,8.0,0,0,0,0.0,0.0,0.0,0.0,0.0
5,5,2015,1,1,4,DL,1818,N555NW,ATL,MCO,...,815.0,-7.0,0,0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,474,2015,1,1,4,EV,5268,N851AS,ATL,SHV,...,1742.0,-9.0,0,0,0,0.0,0.0,0.0,0.0,0.0
475,475,2015,1,1,4,WN,426,N384SW,ATL,RSW,...,1830.0,-10.0,0,0,0,0.0,0.0,0.0,0.0,0.0
476,476,2015,1,1,4,DL,2227,N617DL,ATL,FLL,...,1839.0,-13.0,0,0,0,0.0,0.0,0.0,0.0,0.0
477,477,2015,1,1,4,DL,1736,N901DA,ATL,CMH,...,1820.0,-12.0,0,0,0,0.0,0.0,0.0,0.0,0.0
478,478,2015,1,1,4,WN,259,N463WN,ATL,HOU,...,1831.0,1.0,0,0,0,0.0,0.0,0.0,0.0,0.0